<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="page3/logo.png" rel="icon">
  <title>All Branch</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  
  <link href="/page3/bootstrap/bootstrap.min.css" rel="stylesheet"> 
  <link href="/page3/bootstrap/font-awesome.min.css" rel="stylesheet"> 
  <link href="/page3/css/page3.css" rel="stylesheet"> 

</head>

<body>
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">90</span>
            <p>Faculty</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1600</span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">50</span>
            <p>Subjects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">250</span>
            <p>Papers</p>
          </div>

        </div>

      </div>
    </section>
 <header id="header" class="fixed-top">
    <div class="container">
      <div class="logo float-left">
        <a href="#intro" class="scrollto"><img src="page3/img/logo.png" alt="" class="img-fluid"></a>
        
      </div>
      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/gotolibrarypage">Home</a></li>
          <li><a href="/csepaper">CSE</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#s">EE</a></li>
          <li><a href="#">ME</a></li>
          <li><a href="#">CE</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Get Started with one<br>stop Solutions for<br>Previous Year Question Papers</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Know more</a>
        </div>
      </div>
    </div>
  </section>
    <div class="container">
      <div class="credits">
        Designed by <a href="#">Amit Singh</a>
      </div>
    </div>
  </footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
 
  <script src="/page3/js/jquery.min.js"></script> 
  <script src="/page3/js/mobile-nav.js"></script>
  <script src="/page3/js/counterup.min.js"></script>
  <script src="/page3/js/wow.min.js"></script>
  <script src="/page3/js/jquery.waypoints.min.js"></script>
  <script src="/page3/js/main.js"></script>

</body>

</html>